## 31Page

In [1]:
s = "python"
print(s[0])
print(s[-1])

p
n

In [ ]:
s = 'python'
print(s[10])

In [3]:
s1 = str(input('첫번째 문자열: '))
s2 = str(input('두번째 문자열: '))
s3 = str(input('세번째 문자열: '))
if s1[-1] == s2[0] and s2[-1] == s3[0] and s3[-1] == s1[0]:
  print('good')
else:
  print('bad')

첫번째 문자열: turtle
두번째 문자열: error
세번째 문자열: robot
good

In [4]:
s = 'python'
for i in range(len(s)):
  print(s[i],end = ',')

p,y,t,h,o,n,

In [6]:
number = input("하이폰(-)을 포함한 휴대번호를 입력하세요: ")
number = number.replace("-", "")
print(number)

하이폰(-)을 포함한 휴대번호를 입력하세요: 010-1234-5678
01012345678

In [8]:
s = 'python'
n = '여섯글자이다'
print(len(s))
print(len(n))

6
6

In [13]:
sentence = input("문자열 입력: ")

for i in range(len(sentence)):
  if sentence[i] == 't':
    print(i+1,end =' ')

문자열 입력: test
14

In [16]:
sentence = input('문장을 입력해 주세요: ')
reversed_sentence = ""
index = len(sentence) - 1
while index >= 0:
    
    if sentence[index] == ' ':
      reversed_sentence += '-'
      index -=1
    else:
      reversed_sentence += sentence[index]
      index -= 1

print(reversed_sentence)

문장을 입력해 주세요: Enjou your life!
!efil-ruoy-uojnE

## 32Page

In [18]:
data = input('문자열 입력:')
for i in range(len(data)-1):
  print(data[i],data[i+1],sep ='')

문자열 입력:python
py
yt
th
ho
on

In [19]:
s = 'python'
print(s[2:5])
print(s[3:])
print(s[:4])
print(s[2:-2])
print(s[-2:])

tho
hon
pyth
th
on

In [21]:
s = "차종: 코란도C, 제조사: 쌍용, 배기량:1998"
print(s[15:17])

쌍용

In [30]:
file = "20210505-104830.jpg"
print("촬영 날짜: "+file[4:6]+'월'+file[6:8]+'일')
print("촬영 시간: "+file[9:11]+'시'+file[11:13]+'분')
print("확장자: "+file[16:19])

촬영 날짜: 05월05일
촬영 시간: 10시48분
확장자: jpg

In [38]:
yoil = "월화수목금토일"
print(yoil[0]+yoil[2]+yoil[4]+yoil[6])
print(yoil[::-1])

월수금일
일토금목수화월

In [44]:
jumin = '901231-1914983'
year = jumin[0:2]
if jumin[7] == '1':
  gender = '남자'
else:
  gender = '여자'
print(year+'년생 '+gender+"입니다")

90년생 여자입니다

In [46]:
a = "10 20 30 40 50"
b = "나는 서울로봇고 2학년이야."
print(a.split())
print(b.split())

['10', '20', '30', '40', '50']
['나는', '서울로봇고', '2학년이야.']

## 33Page

In [51]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

In [75]:
BTS = "정국, 진, 뷔, 슈가, 지민, RM, 제이홉"
BTS_members = BTS.split(',')
print("방탄멤버:",BTS_members)
for member in BTS_members:
    print(member.strip(), "사랑해")

방탄멤버: ['정국', ' 진', ' 뷔', ' 슈가', ' 지민', ' RM', ' 제이홉']
정국 사랑해
 진 사랑해
 뷔 사랑해
 슈가 사랑해
 지민 사랑해
 RM 사랑해
 제이홉 사랑해

In [74]:
file_names = ["file1.py", "file2.txt", "file.pptx","file4.doc"]
for file_name in file_names:
  arr = file_name.split(".")
  print(f'{file_name :11}=> 파일명:{arr[0]},확장자:{arr[1]}')

file1.py   => 파일명:file1,확장자:py
file2.txt  => 파일명:file2,확장자:txt
file.pptx  => 파일명:file,확장자:pptx
file4.doc  => 파일명:file4,확장자:doc

In [68]:
sentence = input("문자열 입력: ")
words = sentence.split()

abbreviation = ""
for word in words:
    abbreviation += word[0].upper()

print("줄임말:", abbreviation)

문자열 입력: 복잡한 세상 편하게 살자
줄임말: 복세편살

In [65]:
print(",".join('abcd'))
print("::".join(["1","2","3","4","5"]))

a,b,c,d
1::2::3::4::5

In [77]:
s = 'python programming'
print("문자열 s의 길이 =",len(s))
print()
print("문자열 s에서 o의 인덱스=",s.find('o'))
print("문자열 없는 인덱스를 검색=",s.find('A'))
print("o를 뒤에서부터 검색한 인덱스=",s.rfind('o'))
print()
print("문자열 s에서 r의 인덱스=",s.find('r'))
print("문자열 s에서 n의 개수=",s.count('n'))
print()
print("문자열 s에서 gram의 인덱스=",s.find('gram'))
print("문자열 s에서 gram의 개수=",s.index('gram'))
print("문자열 s에서 gram의 개수=",s.count('gram'))

문자열 s의 길이 = 18

문자열 s에서 o의 인덱스= 4
문자열 없는 인덱스를 검색= -1
o를 뒤에서부터 검색한 인덱스= 9

문자열 s에서 r의 인덱스= 8
문자열 s에서 n의 개수= 2

문자열 s에서 gram의 인덱스= 10
문자열 s에서 gram의 개수= 10
문자열 s에서 gram의 개수= 1

## 34Page

In [81]:
name = "박보검"
if name.startswith("박"):
  print("박씨입니다.")
elif name.strswith("김"):
  print("김씨입니다")

file = "HelloPython.jpg"
if file.endswith('g'):
  print("그림 파일입니다")

박씨입니다.
그림 파일입니다

In [82]:
domain = "http://www.soen.kr"
if domain.endswith('kr'):
  print("한국도메인입니다")

한국도메인입니다

In [83]:
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

True
False
True
True

In [84]:
s = input("영어 문장을 입력하세요")
i = 0
count = 0
while i <= len(s)-1:
  if s[i] in 'aeiouAEIOU':
    count+=1
    print(s[i],end=' ')
  i+=1

print('\n모음의 개수 : %d'%count)

영어 문장을 입력하세요MY favorite
a o i e
모음의 개수 : 4

In [86]:
height = input("키를 입력하세요: ")
if height.isdecimal():
  print("키 = ",height)
else:
  print("숫자만 입력하세요")

키를 입력하세요: 150
키 =  150

## 35Page

In [91]:
data = input("문자열 입력: ")
for i in range(len(data)+1):
  if data.islower():
    print("x",end='')
  else:
    print("o",end='')

문자열 입력: MyNameIsPython
ooooooooooooooo