<a href="https://colab.research.google.com/github/sirocat/python/blob/main/%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
animals = ['토끼','거북이','사자','호랑이']
for i in range(len(animals)):
  print(animals[i])

토끼
거북이
사자
호랑이

In [5]:
nums = [1,2,3,4]
nums.append(5)
print(nums)
nums.insert(2,99)
print(nums)

[1, 2, 3, 4, 5]
[1, 2, 99, 3, 4, 5]

In [6]:
list1 = [1,2,3,4,5]
list2 = [10,11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

In [7]:
score = [88,95,70,100,99]
print("100의 위치: ",score.index(100)+1)

print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

100의 위치:  4
99
100
95
[88, 70]

In [12]:
score = [88,95,70,100,99]

score.pop(4)
print("99삭제 후: ",score)
score.sort()
print("리스트 정렬 후:",score)
score.reverse()
print("거꾸로 정렬: ",score)
score.clear()
print("리스트 삭제:" ,score)

99삭제 후:  [88, 95, 70, 100]
리스트 정렬 후: [70, 88, 95, 100]
거꾸로 정렬:  [100, 95, 88, 70]
리스트 삭제: []

In [14]:
list1 = ['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa']
length = list1.count('aaa')
print(length)

3

In [17]:
mylist = ['사과','바나나','파인애플']
mylist.append('키위')
mylist.append('배')
for a in mylist:
  print(a)

사과
바나나
파인애플
키위
배

In [21]:
emails = [["kim","naver.com"],["hwang","hanmail.net"],["lee","korea.com"],["choi","gamil.com"]]
email_new = []
for email in emails:
  email_new.append(eamail[0]+"@"+email[1])
print(email_new)

NameError: ignored

In [24]:
score = [1,3,5,7,9,11,13]
cnt = 0
for i in range(7):
  if score[i] < 10:
    print(score[i],end = " ")
    cnt += 1
print()
print("10보다 작은 수의 개수: %s"%cnt)

1 3 5 7 9
10보다 작은 수의 개수: 5

In [ ]:
scores = []
sum = 0
for i in range(5):
    score = int(input("성적을 입력하세요: "))
    scores.append(score)
    sum = sum + score

average = sum / len(scores)

print("총점:", sum)
print("평균:", average)

In [25]:
number = [10,20,30],[40,50],[60,70,80,90]
print(number[0][0])
print(number[1][0])
print(number[2][0])

10
40
60

In [ ]:
score = [[88,76,92,98],[65,70,58,82],[82,80,78,88]]
total = 0
totalsub = 0
for i in range(len(score)):
  for j in range(len(score[i])):
    total += score[i][j]
  print("총점: ",total,end = ' ')
  print("평균: ",total/4)
  totalsub += total
  total = 0
print("전체평균 : ",totalsub/12)

In [28]:
questions = ['tr_in','b_s','_axi','air_lane']
answers = ['a','u','t','p']
count = 0
for i in range(4):
  q = '%s 에서 밑줄(_)안에 들어갈 알파벳은?'%questions[i]
  ans = input(q)t
  if ans == answers[i]:
    print("정답입니다")
    count += 1
  else:
    print("틀렸습니다")
print("당신의 점수는 %d/4입니다"%count)

tr_in 에서 밑줄(_)안에 들어갈 알파벳은?a
정답입니다
b_s 에서 밑줄(_)안에 들어갈 알파벳은?i
틀렸습니다
_axi 에서 밑줄(_)안에 들어갈 알파벳은?t
정답입니다
air_lane 에서 밑줄(_)안에 들어갈 알파벳은?p
정답입니다
당신의 점수는 3/4입니다

In [ ]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i = 0
while (i) < len(scores):
  total = 0
  total = scores[i][0]+scores[i][1]+scores[i][2]
  print("%d번째 학생의 합계 : %d, 평균 : %2.f"%(i+1,total,total/3))
  i += 1

In [29]:
li = []
for n in range(1,10):
  if n % 3 == 0:
    li.append(n*n)
print(li)

[9, 36, 81]

In [ ]:
numbers = [1,2,3,4,5]
result = [2*n for n in range(6) if n%2==1]
print(result)

In [ ]:
for i in [1,2,3]:
  for j in ['a','b','c']:
    print(i*j,end = ' ')

In [ ]:
sentence = input('문장을 입력해 주세요: ')
reversed_sentence = ""
index = len(sentence) - 1
while index >= 0:

    if sentence[index] == ' ':
      reversed_sentence += '-'
      index -=1
    else:
      reversed_sentence += sentence[index]
      index -= 1

print(reversed_sentence)

In [30]:
jumin = '901231-1914983'
year = jumin[0:2]
if jumin[7] == '1':
  gender = '남자'
else:
  gender = '여자'
print(year+'년생 '+gender+"입니다")

90년생 남자입니다

In [ ]:
BTS = "정국, 진, 뷔, 슈가, 지민, RM, 제이홉"
BTS_members = BTS.split(',')
print("방탄멤버:",BTS_members)
for member in BTS_members:
    print(member.strip(), "사랑해")

In [ ]:
file_names = ["file1.py", "file2.txt", "file.pptx","file4.doc"]
for file_name in file_names:
  arr = file_name.split(".")
  print(f'{file_name :11}=> 파일명:{arr[0]},확장자:{arr[1]}')

In [ ]:
sentence = input("문자열 입력: ")
words = sentence.split()

abbreviation = ""
for word in words:
    abbreviation += word[0].upper()

print("줄임말:", abbreviation)

In [ ]:
print(",".join('abcd'))
print("::".join(["1","2","3","4","5"]))

In [31]:
s = "python programming"
print('a' in s)
print('z' in s)
print('pro' in s)
print('x' not in s)

12
-1
7
-1

In [ ]:
s = input("영어 문장을 입력하세요")
i = 0
count = 0
while i <= len(s)-1:
  if s[i] in 'aeiouAEIOU':
    count+=1
    print(s[i],end=' ')
  i+=1

print('\n모음의 개수 : %d'%count)

In [ ]:
height = input("키를 입력하세요: ")
if height.isdecimal():
  print("키 = ",height)
else:
  print("숫자만 입력하세요")

In [50]:
data = input("문자열 입력: ")
for i in range(len(data)+1):
  if data.islower():
    print("x",end='')
  else:
    print("o",end='')

문자열 입력: difq
xxxxx

In [32]:
s = "good morning. MyLove kim"

print('문자열: ',s)
print("대문자로 변경: ",s.upper())
print("소문자로 변경: ",s.lower())

문자열:  good morning. MyLove kim
대문자로 변경:  GOOD MORNING. MYLOVE KIM
소문자로 변경:  good morning. mylove kim

In [33]:
char = input("영문 대문자 또는 소문자 하나를 입력하세요: ")
char2 = char.upper

if char2 == 'A'or'E'or'U'or'I'or'O':
  print("%s -> 모음"%char)
else:
  print("%s -> 자음"%char)

영문 대문자 또는 소문자 하나를 입력하세요: a
a -> 모음

In [38]:
phone_list1 = ["010-3654-2637", "010-3984-5377", "010-3554-0973"]
phone_list2 = []
print(phone_list1)
for phone_number in phone_list1:
    x = phone_number.replace("-", "")  # Remove hyphens
    phone_list2.append(x)  # Append to the new list

print(phone_list2)

['010-3654-2637', '010-3984-5377', '010-3554-0973']
['01036542637', '01039845377', '01035540973']

In [39]:
s = "a:b:c:d"
s = s.replace(":","#")
print(s)

a#b#c#d

In [42]:
phone = input("하이폰(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: ")

number = ""
for i, digit in enumerate(phone):
    if i == 2:
        number += digit + "-"
    elif i == 6:
        number += digit + "-"
    else:
        number += digit

print("추가된 번호:", number)

하이폰(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: 01012345678
추가된 번호: 010-1234-5678

In [49]:
a = "Tom Dick Harry"
a = a.split()
for i in range(len(a)):
  a[i] = sorted(a[i])
  a[i] = ''.join(a[i])

print(', '.join(a))

Tom,Dick,Harry

In [52]:
word = input("단어를 입력하세요: ")
count = 0
for i in word:
  if i in 'aeiou':
    count +=1
  if count>=2:
    print (word+'way')
  else:
    print (word[1:]+word[0]+'ay')

단어를 입력하세요: sun
피그라틴 변형 결과: unsay

In [56]:
sentence = input("문자열 입력: ")
new = ' '
#now는 현재 비교할 문자 저장(맨앞글자)
now = sentence[0]
#now에 있는 문자가 몇 번 등장했는지 카운트
count = 0
for i in sentence:
#지금 비교할 문자가now와 같다면 카운트증가
  if i ==now:
    count +=1
#새 문자가 등장했다면 새로 만들기
  else:
    new += now + str(count)
    now = i
    count =1

new += now + str(count)
print(new)

문자열 입력: aaabbbbcdddd
 a3b4c1d4

In [ ]:
yoil = "월화수목금토일"
print(yoil[0]+yoil[2]+yoil[4]+yoil[6])
print(yoil[::-1])

In [55]:
sentence = input("문자열 입력: ")
for index, char in enumerate(sentence):
    if char == 't':
        print(f"{index+1}",end=' ')

문자열 입력: test
1 4

In [ ]:
number = input("하이폰(-)을 포함한 휴대번호를 입력하세요: ")
number = number.replace("-", "")
print(number)