## Page27

In [25]:
numbers = [7,9,15,18,30,-3,7,12,-16,-12]

sum = 0
i = 0
print("짝수 번째 요소 : ",end = "")
while(i < len(numbers)):
    if (i+1) % 2 == 0:
      sum += numbers[i]
      print(numbers[i],end = ' ')
    i += 1
print()
print(sum)

짝수 번째 요소 : 9 18 -3 12 -12
24

Page28

In [3]:
number = [10,20,30],[40,50,60]
print(number[0])
print(number[1])
print(number[0][0],number[0][1],number[0][2])
print(number[1][0],number[1][1],number[1][2])

[10, 20, 30]
[40, 50, 60]
10 20 30
40 50 60

In [4]:
number = [10,20,30],[40,50,60,70,80]
print(number[0][0],number[0][1],number[0][2])
print(number[1][0],number[1][1],number[1][2],number[1][3],number[1][4])

10 20 30
40 50 60 70 80

In [6]:
for sub in number:
  for s in sub:
    print(s,end=' ')
  print()

10 20 30
40 50 60 70 80

In [8]:
data = [[10,20],[30,40],[50,60],[70,80]]
for i in range(4):
  for j in range(2):
    print("data[%d][%d]= %d"%(i,j,data[i][j]))

data[0][0]= 10
data[0][1]= 20
data[1][0]= 30
data[1][1]= 40
data[2][0]= 50
data[2][1]= 60
data[3][0]= 70
data[3][1]= 80

In [17]:
string = [["원두커피","라떼","콜라"],["우동","국수","피자","파스타"]]
for i in range(len(string)):
  for j in range(len(string[i])):
    print(string[i][j],end = ' ')
  print()

원두커피 라떼 콜라
우동 국수 피자 파스타

In [11]:
data = [[10,20,30],[40,50],[60,70,80,90]]
print(data)
for i in range(len(data)):
  print(data[i][0])

[[10, 20, 30], [40, 50], [60, 70, 80, 90]]
10
40
60

## Page29

In [22]:
score = [[88,76,92,98],[65,70,58,82],[82,80,78,88]]
total = 0
totalsub = 0
for i in range(len(score)):
  for j in range(len(score[i])):
    total += score[i][j]
  print("총점: ",total,end = ' ')
  print("평균: ",total/4)
  totalsub += total
  total = 0
print("전체평균 : ",totalsub/12)

총점:  354 평균:  88.5
총점:  275 평균:  68.75
총점:  328 평균:  82.0
전체평균 :  79.75

In [26]:
seats = [[0,0,0,0,0,0,0,0,0,0],\
[0,0,0,0,0,0,0,0,0,0],\
[0,0,0,0,0,0,0,0,0,0],\
[1,1,1,0,0,0,0,0,1,0],\
[0,0,0,0,0,1,0,0,0,0],\
[0,1,0,0,0,1,0,1,0,0],\
 [0,0,0,0,0,0,1,0,0,0],\
[1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
  for j in range(len(seats[i])):
    if seats[i][j] == 0:
      print('%3s'%'□',end='')
    else:
      print('%3s'%'■',end='')
  print()
print('\n※ 예약가능 :■,예약 불가: □ ')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

※ 예약가능 :■,예약 불가: □

In [36]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i = 0
while (i) < len(scores):
  total = 0
  total = scores[i][0]+scores[i][1]+scores[i][2]
  print("%d번째 학생의 합계 : %d, 평균 : %2.f"%(i+1,total,total/3))
  i += 1

1번째 학생의 합계 : 260, 평균 : 87
2번째 학생의 합계 : 258, 평균 : 86
3번째 학생의 합계 : 254, 평균 : 85
4번째 학생의 합계 : 254, 평균 : 85
5번째 학생의 합계 : 248, 평균 : 83
6번째 학생의 합계 : 258, 평균 : 86

## Page30

In [34]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],[83,86,79],[85,90,83]]
i = 0
for i in range(len(scores)):
  total = 0
  total = scores[i][0]+scores[i][1]+scores[i][2]
  print("%d번째 학생의 합계 : %d, 평균 : %2.f"%(i+1,total,total/3))

1번째 학생의 합계 : 260, 평균 : 87
2번째 학생의 합계 : 258, 평균 : 86
3번째 학생의 합계 : 254, 평균 : 85
4번째 학생의 합계 : 254, 평균 : 85
5번째 학생의 합계 : 248, 평균 : 83
6번째 학생의 합계 : 258, 평균 : 86

In [35]:
[2 * n for n in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
even1 =[i for i in range(100)if i %2 ==0]
even2 = [i *2 for i in range(1,51)]
print(even1)
print(even2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [42]:
li = []
for n in range(1,10):
  if n % 3 ==0:
    li.append(n*n)
print(li)

[9, 36, 81]

In [48]:
numbers = [1,2,3,4,5]
result = [2*n for n in range(6) if n%2==1]
print(result)

[2, 6, 10]

In [51]:
v = [17,92,18,33,58,7,33,42]
max = v[0]
for n in range(len(v)):
  if v[n] > max:
    max = v[n]
print("최대값 = ",max)

최대값 =  92

In [52]:
for i in [1,2,3]:
  for j in ['a','b','c']:
    print(i*j,end = ' ')

a b c aa bb cc aaa bbb ccc

In [53]:
list_a = ["I","study","python","language","!"]
for i in range(len(list_a)):
  if len(list_a[i]) > 3:
    print(list_a[i])

study
python
language