<a href="https://colab.research.google.com/github/sirocat/python/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Page18

In [ ]:
for i in [1,2,3]:
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [3]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [6]:
for i in range(20,0,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [9]:
for i in range(0,3,1):
  print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

In [10]:
a = 10
for num in range(1,5,2,):
    a+=num
print(a)

14

In [12]:
for i in range(1,4,1):
  print(i,'번쨰 학생의 성적처리')

1 번쨰 학생의 성적처리
2 번쨰 학생의 성적처리
3 번쨰 학생의 성적처리

In [16]:
for i in range(1,21,1):
    if(i%2==0):
      print(i,end = ' ')

2 4 6 8 10 12 14 16 18 20

In [20]:
a= 2
for b in range(1,10,1):
  c = a * b
  print(f"2 X",b,'=',c)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [24]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
  print('i의 값:',i,'=>','합계 :',sum)

i의 값: 1 => 합계 : 1
i의 값: 2 => 합계 : 3
i의 값: 3 => 합계 : 6
i의 값: 4 => 합계 : 10
i의 값: 5 => 합계 : 15
i의 값: 6 => 합계 : 21
i의 값: 7 => 합계 : 28
i의 값: 8 => 합계 : 36
i의 값: 9 => 합계 : 45
i의 값: 10 => 합계 : 55

## Page19

In [28]:
sum = 0
for i in range(1,101,1):
  if (i%2==0):
    sum += i
print("1~100까지의 even_sum = ",sum)

1~100까지의 even_sum =  2550

In [29]:
fact = 1
for i in range(10,0,-1):
  fact = fact * i
print("10! = ",fact)

10! =  3628800

In [34]:
a = 0
for i in range(5,101,5):
  print(i,end = ' ')
  a += 1
  if (a == 7):
    a = 0
    print('')

5 10 15 20 25 30 35
40 45 50 55 60 65 70
75 80 85 90 95 100

In [38]:
n = int(input("정수를 입력하시오: "))
for i in range(1,n+1):
  if (n % i == 0):
    print(i,end = ' ')

정수를 입력하시오: 4
1 2 4

In [44]:
a = 0
b = 1
for i in range(1,21,1):
  print(a,end=' ')
  n = a + b
  a = b
  b = n

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [57]:
for x in range(1,41,1):
    if (x %10 == 0):
      print('+',end = '')
    else:
      print('-',end = '')

---------+---------+---------+---------+

In [59]:
x = 1
while(x<41):
  if(x % 10 == 0):
      print('+',end = '')
  else:
      print('-',end = '')
  x += 1

---------+---------+---------+---------+

## Page20

In [66]:
print('-'*50)
print(" 센치(cm) 인치(inch) 피트(ft) 야드(yd)")
print('-'*50)
for cm in range (10,101,10):
  inch = cm * 0.393701
  ft = cm * 0.032808
  yd = cm * 0.010936
  print("%7d %8.1f %8.1f %8.1f"%(cm,inch,ft,yd))
print('-'*50)

--------------------------------------------------
 센치(cm) 인치(inch) 피트(ft) 야드(yd)
--------------------------------------------------
     10      3.9      0.3      0.1
     20      7.9      0.7      0.2
     30     11.8      1.0      0.3
     40     15.7      1.3      0.4
     50     19.7      1.6      0.5
     60     23.6      2.0      0.7
     70     27.6      2.3      0.8
     80     31.5      2.6      0.9
     90     35.4      3.0      1.0
    100     39.4      3.3      1.1
--------------------------------------------------

In [67]:
for i in range(1,1001):
  print(i,end = '')
  if i == 10:
    break

12345678910

In [80]:
score = [92,86,68,120,56,72]
for i in score:
  if (i < 0 or i > 100):
    continue
  print(i)
print("성적처리 끝")

92
86
68
56
72
성적처리 끝

In [82]:
print("3+4 = ?")
while True:
  a = int(input("정답을 입력하시오: "))
  if a == 7:
    break
print("참 잘했어요")

3+4 = ?
정답을 입력하시오: 7
참 잘했어요

In [83]:
while True:
  light = input('신호등 색상 입력: ')
  if light == 'green':
    break
print("길을 건너세요")

신호등 색상 입력: yellow
신호등 색상 입력: red
신호등 색상 입력: green
길을 건너세요

## Page21

In [87]:
i = 1
total = 0;
while True:
  total = total + i
  if total > 50:
    print("합이 50보다 커지는 수는 %d이고 합은 %d다."%(i,total))
    break
  i += 1

합이 50보다 커지는 수는 10이고 합은 55다.

In [91]:
dan  = 2
while(dan < 10):
  hang = 1
  print(dan,'단')
  while(hang < 10):
    print(dan,'*',hang,'=',dan * hang)
    hang += 1
  dan +=1
  print()

2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [95]:
for y in range(1,6):
  for x in range(1,y+1):
    print("*",end = '')
  print()

*
**
***
****
*****

In [111]:
for i in range(1,7):
  for j in range(7):
    if( i == 7) or (i + j == 6):
        print('*',end = '')
    else:
        print(' ',end = '')
  print()

     *
    *
   *
  *
 *
*