<a href="https://colab.research.google.com/github/sirocat/python/blob/main/%EC%88%98%ED%96%89%ED%8F%89%EA%B0%80_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('I said "hello"to yo')
print("Let's go.")

I said "hello"to yo
Let's go.

In [3]:
i = int(input("삼각형의 밑변의 길이: "))
j = int(input("삼각형의 높이: "))
print("삼각형의 면적: ",i*j/2)

삼각형의 밑변의 길이: 10
삼각형의 높이: 3
삼각형의 면적:  15.0

In [ ]:
h = int(input("현재 시: "))
m = int(input("현재 분: "))
m = m + 20
h = (h + m // 60) % 24
m = m % 60
print("20분 뒤에는 %d시 %d분 입니다." %(h, m))

In [5]:
i = int(input("숫자 입력: "))
if(i < 0):
  i = i * -1
print(i)

숫자 입력: -20
20

In [7]:
a = str(input("아이디를 입력하세요: "))
b = int(input("회원 레벨을 입력하세요: "))
if(a == 'admin'or b == 1):
  print("관리자입니다.")
else:
  print("관리자가 아닙니다.")

아이디를 입력하세요: admin
회원 레벨을 입력하세요: 1
관리자입니다.

In [9]:
a = int(input("첫 번째 수"))
b = int(input("두 번째 수"))
c = int(input("세 번째 수"))
max = 0
if(a > b and a > c):
  max = a
elif(b > a and b > c):
  max = b
else:
  max = c
print("가장 큰 수는",max,"입니다.")

첫 번째 수10
두 번째 수20
세 번째 수30
가장 큰 수는 30 입니다.

In [10]:
i = int(input("나이 입력: "))
if(i <=7):
  print("어린이")
elif(i <=13):
  print("초등학생")
elif(i <=16):
  print("중학생")
elif(i <=19):
  print("고등학생")
else:
  print("성인")

나이 입력: 17
고등학생

In [12]:
i = int(input("점수 입력: "))
if(i>=90):
  print("A등급")
elif(i>=80):
  print("B등급")
elif(i>=70):
  print("C등급")
else:
  print("F등급")

점수수 입력: 90
A등급

In [14]:
i = int(input("숫자 입력: "))
if(i%3==0):
  if(i%5==0):
    print("3과 5의 공배수")
  else:
    print("3의 배수")
else:
  print("3의 배수 아님")

숫자 입력: 6
3의 배수

In [18]:
i = 1
while(i<=20):
  if i%2 != 0:
    print(i,end = ' ')
  i += 1

1 3 5 7 9 11 13 15 17 19

In [19]:
i = 1;
sum = 0;
while(i <= 10):
  sum = sum + i
  print("num의 값: ",i,"==> 합계 : ",sum)
  i += 1

num의 값:  1 ==> 합계 :  1
num의 값:  2 ==> 합계 :  3
num의 값:  3 ==> 합계 :  6
num의 값:  4 ==> 합계 :  10
num의 값:  5 ==> 합계 :  15
num의 값:  6 ==> 합계 :  21
num의 값:  7 ==> 합계 :  28
num의 값:  8 ==> 합계 :  36
num의 값:  9 ==> 합계 :  45
num의 값:  10 ==> 합계 :  55

In [20]:
n = int(input("숫자 입력: "))
fact = 1
num = n
while num > 0:
 fact *= num
 num -=1
print("%d! = %d" %(n, fact))

숫자 입력: 10
10! = 3628800

In [22]:
import random
cnt = 0
guess = 0
answer = random.randint(1,100)
print("정답: ",answer)
print("1부터 100사이의 숫자를 맞히기")
while answer != guess:
  guess = int(input("숫자를 맞혀 보세요: "))
  if guess < answer:
    print("낮음")
  else:
    print('높음')
  cnt += 1
print("축하합니다. 시도횟수 %d"%(cnt))

정답:  49
1부터 100사이의 숫자를 맞히기
숫자를 맞혀 보세요: 50
높음
숫자를 맞혀 보세요: 49
높음
축하합니다. 시도횟수 2

In [23]:
i = 10
while(i <= 50):
  if(i%3 != 0):
    print(i,end = ' ')
  i += 1

10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [28]:
import random
again = 'y'
print("주사위 게임을 시작합니다.")
while again == 'y':
  print("주사위를 던졌습니다.")
  me = random.randint(1,6)
  you = random.randint(1,6)
  print("나: ",me)
  print("당신: ",you)
  if(me > you):
    print("나의 승리")
  elif(me == you):
    print("무승부")
  else:
    print("당신의 승리")
  again = input("계속하려면 Y를 입력하세요")

주사위 게임을 시작합니다.
주사위를 던졌습니다.
나:  3
당신:  4
당신의 승리
계속하려면 Y를 입력하세요y
주사위를 던졌습니다.
나:  3
당신:  2
나의 승리
계속하려면 Y를 입력하세요y
주사위를 던졌습니다.
나:  2
당신:  1
나의 승리
계속하려면 Y를 입력하세요n

In [30]:
i = int(input("숫자 입력: "))
while i != 0:
  print(i%10,end='')
  i = i // 10

숫자 입력: 10393
39301

In [32]:
a = 2
for i in range(1,10):
  print(a,"*",i,"=",a*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [36]:
a = 2
for i in range(9,0,-1):
  print(a,"*",i,"=",a*i)

2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2

In [38]:
max = 0;
a = 0;
b = 0;
for i in range(1,100):
  j = 100 - i
  current = i * j
  if max < current:
    max = current
    a = i
    b = j
print("최대가 되는 경우 :",a,"*",b,"=",max)

최대가 되는 경우 : 50 * 50 = 2500

In [42]:
a = int(input("정수를 입력하세요: "))
for i in range(1,a+1):
  if a % i ==0:
    print(i,end=' ')

정수를 입력하세요: 6
1236

In [46]:
a = int(input("입력할 숫자 개수: "))
cnt = 1;
max = 0
for i in range(1,a+1):
  b = int(input("숫자 입력: "))
  if b > max:
    max = b
    cnt +=1
print("가장 큰 수는",cnt,"번째 수 입니다.")

입력할 숫자 개수: 5
숫자 입력: 20
숫자 입력: 8
숫자 입력: 123
숫자 입력: 45
숫자 입력: 11
가장 큰 수는 3 번째 수 입니다.

In [51]:
cnt = 0
for i in range(1,101):
  if i % 4 == 0:
    print(i,end=' ')
    cnt += 1
  if cnt % 7 == 0:
    print()

4 8 12 16 20 24 28



32 36 40 44 48 52 56



60 64 68 72 76 80 84



88 92 96 100

In [56]:
n = int(input("숫자 입력: "))
count = 0
for i in range(1, n+1):
 if i % 10 == 1:
  count += 1
print("일의 자리가 1인 수는 %d개" %(count))

숫자 입력: 51
일의 자리가 1인 수는 6개

In [57]:
print("3+4 = ?")
while True:
  a = int(input("정답을 입력하시오: "))
  if a == 7:
    break;
print("참 잘했어요!")

3+4 = ?
정답을 입력하시오: 5
정답을 입력하시오: 3
정답을 입력하시오: 10
정답을 입력하시오: 7
참 잘했어요!